<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webdevproof</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="./slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.html"> <img class="img-fluid" src="./img/Hijyen-Logo.png" >  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="hijyen-belgesi-page.html">Hijyen Belgesi</a>
          </li>
         
         
          <li class="nav-item">
            <a class="nav-link active" href="online-page.html">Online Başvuru</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="sorular-page.html">Sıkça Sorulan Sorular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="sınavlar-page.html">Sınavlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="blog-page.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="iletişim-page.html">Iletişim</a>
          </li>
          <li class="nav-item">
            <a  style="color: rgb(20, 235, 250);" class="nav-link active btn--show-modal" href="">Giriş yap</a>
          </li>
          <li class="nav-item">
            <a style="color: rgb(20, 235, 250);" class="nav-link active kayıt--show-modal" href="">kayıt Ol</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>



    <div class="modal-custom hidden">
      <button class="btn--close-modal">&times;</button>
      </h2>
      <form class="modal__form">
        <label style="color: white; font-weight: 400;">E-Posta</label>
        <input type="email" />
        <label style="color: white; font-weight: 400;">Şifre</label>
        <input type="text" />
        <button class="btn-modal">Giriş yap <i class="bi bi-arrow-bar-right"></i></button>
      </form>
    </div>
    <div class="overlay hidden"></div>


    <div class="modal--custom-kayıt hidden">
      <button class="btn--close-modal">&times;</button>
      </h2>
      <form class="modal__form">
        <label style="color: white; font-weight: 400;">Ad Soyad</label>
        <input type="text" />
        <label style="color: white; font-weight: 400;">E-Posta</label>
        <input type="email" />
        <label style="color: white; font-weight: 400;">Telefon numarası</label>
        <input type="number" value="(5xx)-xxx-xx-xx" />
        <label style="color: white; font-weight: 400;">Şifre</label>
        <input type="text" />
        <button class="btn-modal">Kayıt ol <i class="bi bi-arrow-bar-right"></i></button>
      </form>
    </div>
    <div class="overlay hidden"></div>

    <div class="container-fluid online-page-banner d-flex justify-content-center" style="background-color: rgb(228, 240, 240); ">     
           <img src="./img/online.jpg" alt="">
    </div>

    <div class="container-fluid p-5">
      <div class="online-page-form-content"><!-- adsoyad,telno,eposta,ticari ünvan,adress,website(zorunlu degil) -->
        <form>
          <div class="form-group">
            <label for="name">Ad soyad *</label>
            <input type="text" class="form-control" id="name" required>
          </div>
          <div class="form-group">
            <label for="telno">Tel no *</label>
            <input type="text" class="form-control" id="telno" required>
          </div>
          <div class="form-group">
            <label for="eposta">E posta *</label>
            <input type="text" class="form-control" id="eposta" required>
          </div>
          <div class="form-group">
            <label for="ticariunvan">Ticaret Ünvanı *</label>
            <input type="text" class="form-control" id="ticariunvan" required>
          </div>
          <div class="form-group">
            <label for="adres">Adres *</label>
            <input type="text" class="form-control" id="adres" required>
          </div>
          <div class="form-group">
            <label for="website">Website (Zorunlu Değil)</label>
            <input type="text" class="form-control" id="website" required>
          </div>
          
         
          <button type="submit" class="btn btn-primary w-100">Gönder</button>
        </form>
      </div>
    </div>
  
    


</body>

<script>
    function validateForm() {
      var x = document.forms["iletişim-form"]["fname"].value;
      if (x == "" || x == null) {
        alert("web sitesi haricindeki tüm bilgiler doldurulmalıdır");
        return false;
        
        
      }
      var x = document.forms["iletişim-form"]["number"].value;
      if (x == "" || x == null) {
        alert("web sitesi haricindeki tüm bilgiler doldurulmalıdır");
        return false;
        
      }
      var x = document.forms["iletişim-form"]["mail"].value;
      if (x == "" || x == null) {
        alert("web sitesi haricindeki tüm bilgiler doldurulmalıdır");
        return false;
        
      }
      var x = document.forms["iletişim-form"]["ünvan"].value;
      if (x == "" || x == null) {
        alert("web sitesi haricindeki tüm bilgiler doldurulmalıdır");
        return false;
        
      }
      var x = document.forms["iletişim-form"]["adres"].value;
      if (x == "" || x == null) {
        alert("web sitesi haricindeki tüm bilgiler doldurulmalıdır");
        return false;
        
      }
    }
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>
  const modal = document.querySelector('.modal-custom');
  const overlay = document.querySelector('.overlay');
  const btnCloseModal = document.querySelector('.btn--close-modal');
  const btnsOpenModal = document.querySelectorAll('.btn--show-modal');

  const openModal = function (e) {
    e.preventDefault();
    modal.classList.remove('hidden');
    overlay.classList.remove('hidden');
  };

  const closeModal = function () {
    modal.classList.add('hidden');
    overlay.classList.add('hidden');
  };
  btnsOpenModal.forEach(btn => btn.addEventListener('click', openModal));

  btnCloseModal.addEventListener('click', closeModal);
  overlay.addEventListener('click', closeModal);
</script>

<script>
  const modal2 = document.querySelector('.modal--custom-kayıt');
  const overlay2 = document.querySelector('.overlay');
  const btnCloseModal2 = document.querySelector('.btn--close-modal');
  const btnsOpenModal2 = document.querySelectorAll('.kayıt--show-modal');

  const openModal2 = function (e) {
    e.preventDefault();
    modal2.classList.remove('hidden');
    overlay2.classList.remove('hidden');
  };

  const closeModal2 = function () {
    modal2.classList.add('hidden');
    overlay2.classList.add('hidden');
  };
  btnsOpenModal2.forEach(btn => btn.addEventListener('click', openModal2));

  btnCloseModal2.addEventListener('click', closeModal2);
  overlay2.addEventListener('click', closeModal2);
</script>
</html>