<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webdevproof</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="./slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light  ">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.html"> <img class="img-fluid" src="./img/Hijyen-Logo.png" >  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="hijyen-belgesi-page.html">Hijyen Belgesi</a>
          </li>
         
         
          <li class="nav-item">
            <a class="nav-link active" href="online-page.html">Online Başvuru</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="sorular-page.html">Sıkça Sorulan Sorular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="sınavlar-page.html">Sınavlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="blog-page.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="iletişim-page.html">Iletişim</a>
          </li>
          <li class="nav-item">
            <a  style="color: rgb(20, 235, 250);" class="nav-link active btn--show-modal" href="">Giriş yap</a>
          </li>
          <li class="nav-item">
            <a style="color: rgb(20, 235, 250);" class="nav-link active kayıt--show-modal" href="">kayıt Ol</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>

   
            <div style=" padding: 60px;" class="container quiz-container" id="quiz">
              <div class="row">
                <div class="col-12">
                <div class="quiz-header">
                  <h2 id="question">Question Text</h2>
                  <ul>
                    <li>
                      <input type="radio" name="answer" id="a" class="answer">
                      <label for="a" id="a_text">Answer</label>
                    </li>
            
                    <li>
                      <input type="radio" name="answer" id="b" class="answer">
                      <label for="b" id="b_text">Answer</label>
                    </li>
            
                    <li>
                      <input type="radio" name="answer" id="c" class="answer">
                      <label for="c" id="c_text">Answer</label>
                    </li>
            
                    <li>
                      <input type="radio" name="answer" id="d" class="answer">
                      <label for="d" id="d_text">Answer</label>
                    </li>
            
                  </ul>
                </div>
            
                <button style="width: 100%;" id="submit">Submit</button>
              </div>
              </div>
              
              </div>
      

</body>

<script>
    const quizData = [
    {
        question: "Hijyen eğitimi hangi yönetmelik gereği verilmiştir?",
        a: "Hijyen yönetmeliği.",
        b: "İlk yardım yönetmeliği.",
        c: "Gıda yönetmeliği.",
        d: "İş sağlığı yönetmeliği.",
        correct: "a",
    },
    {
        question: "Kişisel Hijyen tanımı için hangisi doğrudur?",
        a: "Bireyin sağlığını sürdürmek için yaptığı “ÖZBAKIM’’ uygulamalarını içerir.",
        b: "Bireyin refahı için hijyenik ortamların sağlanmasını içerir.",
        c: "Gıdaların saklanma koşullarını içerir.",
        d: "Hastanelerin hijyenik ortamlarını içerir.",
        correct: "b",
    },
    {
        question: "Gıda hijyeni ne demektir?",
        a: "Gıda maddelerinin yararlı mikroorganizmalardan arındırılarak depolanması ve servise sunulmasıdır.",
        b: "Çalışma ortamının temiz tutulmasıdır.",
        c: " Gıda maddelerinin zararlı mikroorganizmalardan arındırılarak, sağlıklı ve temiz bir şekilde hazırlanması, depolanması ve servise sunulmasıdır.",
        d: "Sağlıklı üretim demektir.",
        correct: "c",
    },
    {
        question: "Mikroorganizmalar nerede bulunmaz?",
        a: "İyi yıkanmamış sebze ve meyvelerde.",
        b: "İnsan ve hayvanların dışkılarında.",
        c: "Hayvanlarda.",
        d: "Steril ortamlarda.",
        correct: "d",
    },


];

const quiz= document.getElementById('quiz')
const answerEls = document.querySelectorAll('.answer')
const questionEl = document.getElementById('question')
const a_text = document.getElementById('a_text')
const b_text = document.getElementById('b_text')
const c_text = document.getElementById('c_text')
const d_text = document.getElementById('d_text')
const submitBtn = document.getElementById('submit')


let currentQuiz = 0
let score = 0

loadQuiz()

function loadQuiz() {

    deselectAnswers()

    const currentQuizData = quizData[currentQuiz]

    questionEl.innerText = currentQuizData.question
    a_text.innerText = currentQuizData.a
    b_text.innerText = currentQuizData.b
    c_text.innerText = currentQuizData.c
    d_text.innerText = currentQuizData.d
}

function deselectAnswers() {
    answerEls.forEach(answerEl => answerEl.checked = false)
}

function getSelected() {
    let answer
    answerEls.forEach(answerEl => {
        if(answerEl.checked) {
            answer = answerEl.id
        }
    })
    return answer
}


submitBtn.addEventListener('click', () => {
    const answer = getSelected()
    if(answer) {
       if(answer === quizData[currentQuiz].correct) {
           score++
       }

       currentQuiz++

       if(currentQuiz < quizData.length) {
           loadQuiz()
       } else {
           quiz.innerHTML = `
           <h2>You answered ${score}/${quizData.length} questions correctly</h2>

           <button onclick="location.reload()">Reload</button>
           `
       }
    }
})
</script>
</html>