<div class="sidebar" id="mySideBar">
  <a
    style="margin-top: -9px; "
    href="javascript:void(0)"
    class="closebtn d-block text-center"
    onclick="closeNav()"
    ><i style=" font-size: 2rem;  " class="bi bi-box-arrow-in-left text-danger"></i ></a>
  <a class="active" href="/admin/dashboard">Home</a>
  <a href="/admin/users">Kullanıcılar</a>
  <a href="/admin/sinavi-gecenler">Sınavı geçenler</a>
  <a href="/admin/online-basvurular">Online başvurular</a>
  <a href="/admin/iletisime-gecenler">iletişime geçilecekler</a>
  <a href="/admin/blog-posts">Post Listele</a>
  <a href="/admin/edit-post">Post Düzenle</a>
  <a class="bg-danger" href="/admin/logout">Çıkış Yap</a>
</div>
<span onclick="openNav()"
  ><i style="font-size: 2.5rem;" class="bi bi-justify"></i
></span>