<%- include("../head")%>
<body style="background-image: url(/images/pexels-ovan-57690.jpg)">
    <%- include("admin-sidebar")%>
    <%- include("admin-home")%>



    <script>
        function openNav() {
          document.getElementById("mySideBar").style.width = "250px";
        }
    
        /* Set the width of the side navigation to 0 */
        function closeNav() {
          document.getElementById("mySideBar").style.width = "0";
        }
      </script>
</body>
</html>