<footer>
  <div class="container">
    <div class="row" style="padding-top: 70px">
      <div class="col-md-4">
        <img src="/images/Hijyen-Logo.png" class="footer-logo" />
        <br />
        <div class="footer-text">
          HİJYEN AKADEMİ TARAFINDAN Profesyonel Ekibimizle , M.E.B ve Üniversite
          onaylı tüm kurum ve kuruluşlara danışmanlık vermekteyiz.
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-title">
          <b class="p-1"><i class="bi bi-align-start"></i>Çalışma saatleri</b>
        </div>
        <div class="footer-connections">
          <a class="footer-connections-item" href="#"
            >pazartesi - Cuma: 7:00 - 17:00</a
          >
          <a class="footer-connections-item" href="#"
            >Cumartesi: 7:00 - 12:00</a
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-text footer-title"><b class="p-1">E-BÜLTEN</b></div>
        <div class="footer-text">
          E-bültenimize kayıt olarak etkinliklerimizden haberdar olabilirsiniz.
        </div>
        <div class="input-group">
          <input
            type="text"
            class="form-control form-value border-0"
            id="fldAboneOl"
          />
          <div class="input-group-btn">
            <button
              type="button"
              style="margin-left: 0; height: 34px"
              class="btn btn-default w-100 h-100 border-0"
              onclick="AboneOl()"
            >
              Abone Ol
            </button>
          </div>
        </div>
        <div class="footer-text footer-title footer-social-title">
          <b class="p-1">SOSYAL MEDYA</b>
        </div>
        <div class="footer-text">Bizi sosyal medyadan takip edin.</div>
        <div class="footer-social-icons">
          <i class="bi footer-icon bi-facebook"></i>
          <i class="bi footer-icon bi-instagram"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
