<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="img-fluid" src="/images/Hijyen-Logo.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/hijyen-belgesi"
            >Hijyen Belgesi</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/basvuru">Online Başvuru</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/sss">Sıkça Sorulan Sorular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/sinav">Sınavlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/iletisim">Iletişim</a>
        </li>
        <li class="nav-item">
          <a
            style="color: rgb(20, 235, 250)"
            class="nav-link active btn--show-modal"
            href=""
            >Giriş yap</a
          >
        </li>
        <li class="nav-item">
          <a
            style="color: rgb(20, 235, 250)"
            class="nav-link active btn--show-modal-kayit"
            href=""
            >Kayıt Ol</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal-custom hidden">
  <button class="btn--close-modal">
    <i class="bi-x-square"></i>
  </button>
  <h4
    style="color: white; text-align: center; font-style: italic; padding: 10px"
  >
    Akademiye Giriş Yap
  </h4>

  <form class="modal__form">
    <label for="email">E-Posta</label>
    <input type="email" id="email" maxlength="20" />
    <label>Şifre</label>
    <input type="password" maxlength="8" />
    <button class="btn-modal px-5 py-2">
      Giriş yap <i class="bi bi-arrow-bar-right"></i>
    </button>
  </form>
</div>
<div class="overlay hidden"></div>

<div class="modal-kayit hidden">
  <button class="btn--close-modal-kayit"><i class="bi bi-x-square"></i></button>
  <h4
    style="color: white; text-align: center; font-style: italic; padding: 10px"
  >
    Akademiye Kayıt Ol
  </h4>
  <form action="/users/create" method="POST" class="modal__form">
    <label style="color: white; font-weight: 400">Ad Soyad</label>
    <input name="userName" type="text" required />
    <label style="color: white; font-weight: 400">E-Posta</label>
    <input name="userMail" type="email" required />
    <label style="color: white; font-weight: 400">Telefon numarası</label>
    <input
      name="userNumber"
      type="number"
      placeholder="(5xx) xxx xx xx"
      required
    />
    <label style="color: white; font-weight: 400">Şifre</label>
    <input name="userPassword" type="password" required />
    <button type="submit" class="btn-modal px-5 py-2">
      Kayıt ol <i class="bi bi-arrow-bar-right"></i>
    </button>
  </form>
</div>
<div class="overlay hidden"></div>
