<%- include('../head'); %>
<body>
  <div class="message-container message-container-warning bg-danger d-flex flex-column  align-items-center">
      <div class="message-container-img">
          <img src="/images/Hijyen-Logo.png" alt="Hijyen Akademi"/>
      </div>
        <h4>Sınava girmek için önce oturum açmalısınız.</h4>
        <div>
            <a href="/" class="message-container-btn">Anasayfa</a>
        </div>
  </div>
  <%- include('../footer'); %>
  <%- include('../scripts') %>
</body>
</html>