<div class="container d-flex justify-content-center" style="margin-top: 50px; margin-bottom: 50px;  ">
    <div style="border-style: double; border-color: blue;" class="col-7">
        <div class="row">
          <img src=<%- data.postImage%> alt="">
        </div>

        <div class="row" style="padding-top: 50px; padding-bottom: 50px; padding-left: 20px;">
            <h5><%- data.postTitle%></h5>
            <p>
                <%- data.postLongText%>
            </p>
        </div>
    </div>
</div>